<div class="wrapper container">
	<form *ngIf="!resetPassword" class="form-signin" (ngSubmit)="login()">
		<h2 class="form-signin-heading">Please login</h2>
		<h3 *ngIf="errorMessage !== ''" class="error-message">{{ errorMessage }}</h3>
		<input [(ngModel)]="username" type="text" class="form-control" style="margin:4px" name="username" placeholder="Username" required="" autofocus="" />
		<input [(ngModel)]="password" type="password" class="form-control" style="margin:4px" name="password" placeholder="Password" required=""/>
		<button class="btn btn-lg btn-primary btn-block" style="margin:4px" type="submit">Login</button>
		<h6><a class="hover-link" (click)="toggleView()">Reset Password</a></h6>
	</form>
	<form *ngIf="resetPassword" class="form-signin" (ngSubmit)="sendResetPasswordLink()">
		<h2 class="form-signin-heading">Enter Username</h2>
		<h3 *ngIf="errorMessage !== ''" class="error-message">{{ errorMessage }}</h3>
		<input [(ngModel)]="resetUser" type="text" class="form-control" style="margin:4px" name="resetUser" placeholder="Username" required="" autofocus="" />
		<button class="btn btn-lg btn-primary btn-block" style="margin:4px" type="submit">Reset Password</button>
		<h6><a class="hover-link" (click)="toggleView()">Log In</a></h6>
	</form>
</div>