<div style="text-align: center">
	<div class="form-signin" style="max-width:70%">
		<h2>Welcome to BTCPredictions Trade Simulator</h2>
		<h4><p>
			Interested in trading Bitcoin? Want to try out a new trading strategy but you're not ready to risk real money yet? Use this Bitcoin trading simulator to test out strategies and learn about Bitcoin behavior without any of the financial risk! The Bitcoin market is crazy - use BTCPredictions to test the waters before jumping in.
		</p></h4>
		<div *ngIf="!loggedIn">
			<h4><a routerLink="/login">Click here</a> to log in</h4>
			<h4>New user? <a routerLink="/signup">Sign up</a></h4>
		</div>
		<h4>Questions or comments about this project? Feel free to <a routerLink="/contact">contact</a> me any time!</h4>
	</div>
</div>