<div class="wrapper container general-container" style="text-align: center;">
	<h2>Transaction History</h2>
	<table class="table" style="text-align: left;">
		<tr>
			<th>Date</th>
			<th>Action</th>
			<th>Symbol</th>
			<th>Quantity</th>
			<th>Rate</th>
			<th>Fee</th>
		</tr>
		<tr *ngFor="let t of transactions">
			<td>{{ t.Time | date:'MM/dd/yyyy h:mm:sss a Z' }}</td>
			<td>{{ t.Action }}</td>
			<td>{{ t.Symbol }}</td>
			<td>{{ t.Quantity | number : '1.2-2' }}</td>
			<td>${{ t.Rate | number : '1.2-2' }}</td>
			<td>${{ t.Fee | number : '1.2-2' }}</td>
		</tr>
	</table>
</div>