<div style="text-align: center">
	<div class="form-signin" style="max-width:70%">
		<h2>About DemoInvestor</h2>
		<br>
		<div>
			<h4>What is this?</h4>
			<p>
				DemoInvestor trade simulator is a tool that allows you to make stock and bitcoin trades using fake "money". It is great for learning and practicing trading without risking any real money. It can also be used for trying out new strategies. You can reset your account balance to $50,000 any time, and you can also use custom transaction fee amounts.
			</p>
			<h4>What can you do with the trade simulator?</h4>
			<p>
				In addition to managing your account balance and transactions, you can also view your transaction history, manage your positions, and see how you are doing compared to other traders. In the future, you will be able to see charts representing your change in account value over time.
			</p>
			<h4>What features are coming in the future?</h4>
			<p>
				Some features I plan to work on for this site (in no particular order) include support for forex/commodities, charts visualizing change in account value over time, showing charts of available assets, and maybe adding support for other cryptocurrencies besides bitcoin as well. Another addition that I hope to bring to the site soon is regular articles providing analysis of finance-related topics including specific stocks/assets, but also including much higher level discussions about markets in general. I plan to implement a feature to allow users to comment and have discussions on these articles as well.
			</p>
			<h4>Who are you?</h4>
			<p>
				My name is Kevin and I have been working as a software engineer since 2014. I mostly do web development but I spend a lot of time working on artificial intelligence as well. In a previous iteration of this application, I used artificial neural networks to show charts predicting future bitcoin prices. This eventually became too computationally expensive to continue, and my interests shifted more towards finance. I have been actively trading stocks and options for about a year now. If you wish to contact me with comments or questions about this site, artificial intelligence, or finance, please feel free to email me or message me on twitter. My information is on the <a routerLink='/contact'>contact</a> page.
			</p>
		</div>
	</div>
</div>